@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../img/wallpapersden.com_k-fractal-art_3840x2160.jpg) no-repeat;
  background-position: center;
}

.wrapper {
  width: 720px;
  min-width: 100px;
  background: white;
  color: black;
  border-radius: 50px;
  padding: 76px 121px;
  background: linear-gradient(204deg, rgba(255, 255, 255, 0.40) 0.85%, rgba(255, 255, 255, 0.10) 95.6%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(18.75px);
}

.wrapper .logo {
  float: right;
}

.wrapper .text h1 {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .text h4 {
  font-size: 18px;
  font-weight: 400;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 58px;
  margin: 50px 0;
}

.input-box label {
  font-size: 18px;
  font-weight: 400;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  color: black;
  padding: 16px 29px 15px 29px;
}

.input-box input::placeholder {
  color: #373737;
  font-size: 14px;
}

.wrapper .remember-forget {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 37px;
}

.remember-forget label input {
  margin-right: 7px;
}

.remember-forget a {
  color: black;
  text-decoration: none;
}

.remember-forget a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 58px;
  background: #15485A;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.wrapper .register-link {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.register-link p a {
  text-decoration: none;
  color: #15485A;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.wrapper .continue {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

/* .wrapper .continue .cont {
  width: 225px;
  height: 58px;
  border-radius: 8px;
  border: 1px solid #15485A;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 16px 10px;
} */

.error{
    color: crimson;
    margin-bottom: 10px;
    display: none;
}

.showerror {
    display: block;
}

/* .google {
  width: 26px;
  height: 27px;
} */