body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/wallpapersden.com_k-fractal-art_3840x2160.jpg) no-repeat;
    background-position: center;
}
.form {
    width: 477px;
    height: 944px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(24px) contrast(50%);
    box-shadow: 0px 4px 24px -1px #00000040;
    padding: 50px 150px 150px 150px;
    border-radius: 150px;
}
.logo {
    float: right;
}
.text {
    clear: both;
    font-size: 25px;
}
input {
    background: transparent;
    border-radius: 10px;
    padding-left: 40px;
    font-size: 20px;
    border: 1px solid black;
    color: black;
    width: 437px;
    height: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
}
::placeholder {
    color: #121212;
}
h1, p {
    margin-bottom: -10px;
}
button {
    width: 477px;
    height: 50px;
    text-align: center;
    background-color: rgb(3, 75, 77);
    color: whitesmoke;
    border: rgb(3, 75, 77);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
}
span {
    display: flex;
    color: rgb(142, 142, 155);
}
hr {
    width: 215px;
    height: 1px;
    background-color: rgb(196, 181, 181);
    border-color: rgb(196, 181, 181);
}
section {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.continue {
    background-color: white;
    color: black;
    font-size: 18px;
    margin-right: 5px;
}
.continue img {
    margin-left: -14px;
    height: 25px;
    vertical-align: middle;
}

.error{
    color: crimson;
    margin-bottom: 10px;
    display: none;
}

.showerror {
    display: block;
}